{% extends 'layout.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <p class="bg-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, vel cum quo nemo velit cupiditate maiores natus harum deleniti delectus non repudiandae architecto commodi facilis voluptas? Asperiores quaerat totam cum?</p>
        </div>
        <div class="col-lg-6">
            <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore doloribus facilis id non fuga, obcaecati in ratione at provident debitis? Id molestiae magnam accusantium ipsam odio veniam, repellat a quam.</p>
        </div>
    </div>
</div>
{% endblock %}