{% extends 'layout.html' %}
{% block title %}Crittle Admin{% endblock %}
{% block body %}
<form action="" method="post" id="adminForm">
  <div class="container text-white">
    <div class="container overflow-hidden text-center">
      <div class="row gy-5 mt-3">
        <div class="col-6">
          <div class="p-3 rounded bg-info bg-gradient bg-opacity-10">
            <h2 class="text-center">Online users</h2>
            <p class="btn btn-outline-warning text-center">{{ ONLINE_USERS }}</p>
          </div>
        </div>
        <div class="col-6">
          <div class="p-3 rounded bg-dark bg-gradient bg-opacity-10">
            <h2 class="text-center">Add Slots</h2>
            <button type="radio" name="slot" class="btn btn-outline-success" id="today">Today</button>
            <button type="radio" name="slot" class="btn btn-outline-success" id="tomorrow">Tomorrow</button>
          </div>
        </div>
        <div class="col-6">
          <div class="p-3 rounded bg-dark bg-gradient bg-opacity-25">
            <h2 class="text-center">Today Slots</h2>
            <div class="container">
              <h3 class="text-left">{{ court_1.label }} @ {{ court_1.sport }}</h3>
              <hr>
              <div class="d-flex flex-row justify-content-center">
                {% for slot in court_1.court1_slots %}
                <div class="flex-item">
                  {% if slot.data in blocked_slots[court_1.label] %}
                    {{ slot( class="btn-check" ) }}
                    {{ slot.label( class="btn btn-outline-danger m-3" ) }}
                  {% else %}
                    {{ slot( class="btn-check" ) }}
                    {{ slot.label( class="btn btn-outline-success m-3" ) }}
                  {% endif %}
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="container">
              <h3 class="text-left">{{ cricket.sport }}</h3>
              <hr>
              <div class="d-flex flex-row justify-content-center">
                {% for slot in cricket.cricket_slots %}
                <div class="flex-item">
                  {% if slot.data in blocked_slots[cricket.label] %}
                    {{ slot( class="btn-check" ) }}
                    {{ slot.label( class="btn btn-outline-danger m-3" ) }}
                  {% else %}
                    {{ slot( class="btn-check" ) }}
                    {{ slot.label( class="btn btn-outline-success m-3" ) }}
                  {% endif %}
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="container">
              <h3 class="text-left">{{ court_2.label }} @ {{ court_2.sport}}</h3>
              <hr>
              <div class="d-flex flex-row justify-content-center">
                {% for slot in court_2.court2_slots %}
                <div class="flex-item">
                  {% if slot.data in blocked_slots[court_2.label] %}
                    {{ slot( class="btn-check" ) }}
                    {{ slot.label( class="btn btn-outline-danger m-3" ) }}
                  {% else %}
                    {{ slot( class="btn-check" ) }}
                    {{ slot.label( class="btn btn-outline-success m-3" ) }}
                  {% endif %}
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="p-3 rounded bg-dark bg-gradient bg-opacity-25">
            <h2 class="text-center">Tomorrow Slots</h2>
            <div class="container">
              <h3 class="text-left">{{ court_1.label }} @ {{ court_1.sport }}</h3>
              <hr>
              <div class="d-flex flex-row justify-content-center">
                {% for slot in court_1.court1_slots_1 %}
                <div class="flex-item">
                  {% if slot.data in blocked_slots_1[court_1.label] %}
                    {{ slot( class="btn-check" ) }}
                    {{ slot.label( class="btn btn-outline-danger m-3" ) }}
                  {% else %}
                    {{ slot( class="btn-check" ) }}
                    {{ slot.label( class="btn btn-outline-success m-3" ) }}
                  {% endif %}
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="container">
              <h3 class="text-left">{{ cricket.sport }}</h3>
              <hr>
              <div class="d-flex flex-row justify-content-center">
                {% for slot in cricket.cricket_slots_1 %}
                <div class="flex-item">
                  {% if slot.data in blocked_slots_1[cricket.label] %}
                    {{ slot( class="btn-check" ) }}
                    {{ slot.label( class="btn btn-outline-danger m-3" ) }}
                  {% else %}
                    {{ slot( class="btn-check" ) }}
                    {{ slot.label( class="btn btn-outline-success m-3" ) }}
                  {% endif %}
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="container">
              <h3 class="text-left">{{ court_2.label }} @ {{ court_2.sport}}</h3>
              <hr>
              <div class="d-flex flex-row justify-content-center">
                {% for slot in court_2.court2_slots_1 %}
                <div class="flex-item">
                  {% if slot.data in blocked_slots_1[court_2.label] %}
                    {{ slot( class="btn-check" ) }}
                    {{ slot.label( class="btn btn-outline-danger m-3" ) }}
                  {% else %}
                    {{ slot( class="btn-check" ) }}
                    {{ slot.label( class="btn btn-outline-success m-3" ) }}
                  {% endif %}
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
{% block script %}
<script>
  const today = document.getElementById("today");
  const tomorrow = document.getElementById("tomorrow")
  const adminForm = document.getElementById("adminForm")

  today.onclick = function() {
    adminForm.action = "?slot=0";
    adminForm.submit();
  };

  tomorrow.onclick = function() {
    adminForm.action = "?slot=1";
    adminForm.submit();
  };
</script>
{% endblock %}