{% extends 'layout.html' %}
{% block title %}Crittle register{% endblock %}
{% block body %}

<div class="container text-white">
    <h1 class="text-center">Sign-Up Form</h1>
    <form method="post" action="">
        <div class="mb-3">
            <label for="fullname" class="form-label">{{form.name.label}}</label>
            {{ form.name(class='form-control', id='fullname', size=32) }}
        </div>
        <div class="mb-3">
            <label for="nickname" class="form-label">{{form.username.label}}</label>
            {{ form.username(class='form-control', id='nickname', size=32) }}
            <div id="userNameHelp" class="form-text text-light"></div>
        </div>
        <div class="mb-3">
          <label for="InputPassword" class="form-label">{{form.password.label}}</label>
          {{ form.password(class="form-control", id='InputPassword', size=32) }}
        </div>
        <div class="mb-3">
            <label for="ConfirmPassword" class="form-label">{{form.confirm_password.label}}</label>
            {{ form.confirm_password(class="form-control", id='ConfirmPassword', size=32) }}
        </div>
        <div class="mb-3">
            <label for="InputEmail1" class="form-label">{{form.email.label}}</label>
            {{ form.email(class='form-control', id='InputEmail1', size=32) }}
            <div id="emailHelp" class="form-text text-light">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="InputMobile" class="form-label">{{form.mobile.label}}</label>
            {{ form.mobile(class='form-control', id='InputMobile', size=32) }}
            <div id="mobileHelp" class="form-text text-light">We'll never share your mobile number with anyone else.</div>
        </div>
        <button type="submit" class="btn btn-outline-success">Submit</button>
      </form>
</div>

{% endblock %}
{% block script %}
<script>
    const userName = document.getElementById("nickname");
    const availabilityMessage = document.getElementById("userNameHelp");
    let user_names;

    function handler() {
        if ((userName.value).length >= 5) {
            for (const element of user_names){
                if (userName.value == element[0]){
                    availabilityMessage.innerText = "\"" + userName.value + "\" is not available.";
                }else{
                    availabilityMessage.innerText = "\"" + userName.value + "\" is available.";
                }
            }
        } else if ( (userName.value).length > 0 && (userName.value).length < 5 ) {
            availabilityMessage.innerText = "Too small for a User Name";
        } else {
            availabilityMessage.innerText = "";
        }
    }
    
    fetch('/get_usernames', {
        method: 'GET',
        headers:{
            'Accept': 'Application/json'
        }
    })
    .then((responce) => responce.json())
    .then((data) => user_names = data);

    userName.addEventListener('input', handler)
</script>
{% endblock %}