{% extends 'layout.html' %}
{% block title %}{{session.name}} Timeline{% endblock %}
{% block body %}
<div class="container">
    <div class="main-timeline">
        {% if length > 0 %}
        {% for booking in bookings %}
        <div class="timeline">
            <div class="icon"></div>
            <div class="date-content">
                <div class="date-outer">
                    <span class="date">
                        <span class="month">{{ booking.day }}<br>{{ booking.month }}</span>
                        <span class="year">{{ booking.year }}</span>
                    </span>
                </div>
            </div>
            <div class="timeline-content text-white">
                <h5 class="title">{{ booking.sport }} @ {{ booking.timeslot}}</h5>
                <p class="description">{{ booking.courtname}}<br>{{ booking.comment }}</p>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h1 class="text-center text-white">MAKE YOUR FIRST BOOKING</h1>
        <a href="{{url_for('book_slot')}}" class="btn btn-success">BOOK</a>
        {% endif %}
    </div>
</div>
{% endblock %}